@model Students
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div id="basic-info" class="tab-pane active">
    <form id="studentForm" ifeditmode eidt then disable>
        <input type="hidden" id="StudentId" name="StudentId" value="@Model.Id">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Name</label>
                <input type="text" class="form-control" name="Name" value="@Model.Name" required>
            </div>
            <div class="form-group col-md-6">
                <label>Email</label>
                <input type="email" class="form-control" name="Email" value="@Model.Email" required>
            </div>
            <div class="form-group col-md-6">
                <label>Phone</label>
                <input type="text" class="form-control" name="Phone" value="@Model.Phone" required>
            </div>
            <div class="form-group col-md-6">
                <label>Address</label>
                <input type="text" class="form-control" name="Address" value="@Model.Address">
            </div>
            <div class="form-group col-md-6">
                <label>Date of Birth</label>
                <input type="date" class="form-control" name="DateOfBirth"
                    value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" required>
            </div>
            <div class="form-group col-md-6">
                <label>Admission Date</label>
                <input type="date" class="form-control" name="AdmissionDate"
                    value="@Model.AdmissionDate.ToString("yyyy-MM-dd")" required>
            </div>
        </div>
        @{
            if (ViewBag.BasicInfoMode == "Add")
            {
                <button type="submit" class="btn btn-primary float-right" data-buttonType="add">Save</button>
            }
            else if (ViewBag.BasicInfoMode == "Edit")
            {
                <button type="button" class="btn btn-warning float-right" >Edit</button>
                <button type="submit" id="updateBasicInfo" class="btn btn-success float-right" data-buttonType="edit"
                    style="display:none;">Update</button>
            }
            <button type="button" class="closeBtn btn btn-secondary float-right mr-2"
                onclick="window.location.href='/Students/Index';" style="">Close</button>
        }
    </form>
</div>
<script>
    $(document).ready(function () {
        debugger;
        let clickedButtonType = null;
        let mode = $('#mode').val();
       
        $('#editBasicInfo').on('click', function () {
            $('#studentForm input').prop('disabled', false);
            $('#updateBasicInfo #cancelBasicInfo').show();
            $(this).hide();
        })
        $('#cancelBasicInfo').on('click', function () {
            loadTabContent('basic-info', mode, studentId);
            //$('[data-tab="basic-info"]').click();
        });
        $('#studentForm button[type="submit"]').on('click', function (e) {
            debugger;
            clickedButtonType = this.dataset.buttontype;
        })
        
        $('#studentForm').on('submit', function (e) {
            debugger;
            e.preventDefault();
            let stringUrl = clickedButtonType == "add" ? '/Students/CreateStudentOnly' : '/Students/ModifyStudent';
            const formData = $(this).serialize();
            $.ajax({
                url: stringUrl,
                type: 'POST',
                data: formData,
                success: function (response) {
                    const studentId = response.studentId;
                    // Update the browser URL
                    history.replaceState(null, '', `/Students/Form?mode=${mode}&studentId=${studentId}`);
                    // Update hidden field
                    $('#StudentId').val(studentId);//form element
                    $('#StudentID').val(studentId);//page element
                    debugger;
                    alert('basic info saved successfully, continure to course selection');
                    //$('#tab-content').html(response)

                    // Enable next tabs
                    if(clickedButtonType == "add") {
                        $('[data-tab="course-selection"]').removeClass('disabled');
                        $('[data-tab="account"]').removeClass('disabled');
                        // Automatically navigate to the next tab
                        $('[data-tab="course-selection"]').click();
                    }
                }
            });
        })
    })
</script>